.jobs-container {
  padding: 8rem;
  padding-top: 20px ;
  height: max-content;
}

.search-bar {
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  font-size: 16px;
}

.job-cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.job-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s ease;
}

.job-card:hover {
  transform: scale(1.03);
  background-color: #e8f0fe;
}

.job-detail button,
.job-card button {
  margin-top: 1rem;
  background-color: #4b60f1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.job-detail {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f0f8ff;
  border-radius: 10px;
}

.apply-form {
  margin-top: 1rem;
}

.apply-form input[type="file"] {
  margin: 1rem 0;
}

.apply-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}
